body {
    margin: 0;
    background-color: #ad0504
}

.container {
    position: relative;
}

.foreground_image {
    width: 100%;
    z-index: 1;
    position: relative;
    pointer-events:none;
}

.sc__inner {
    top: 0;
    left: 0;
    width: 100%;
    height: 90%;
 }

 .sc__wrapper {
    position: absolute;
    display: block;
    width: 100%;
    height: 90%;
    max-width: 100%;
    margin: 0 auto;
 }
 
 .sc__container {
    position: relative;
    overflow: hidden;
    height: 100%;
    max-width: 100%;
 }
 
 .sc__container > img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
 }
 
 .sc__container canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
 }

 .button_container {
   display: block;
 }

 .button_img {
    width: 30%;
 }